#container{
    border-style: solid;
    border-width: 7px;
    border-color: rgb(36, 47, 189);


}
#tasks{
    margin: 7px;
    border-style: solid;

    border-color:rgb(202, 57, 57);
    border-width: 3px;

}